<%- include('partials/header'); %>

<h1><%= jobPosition %></h1>

<h4><%= companyNameUrl %> | Sydney New South Wales - <%= applicationYear %></h4>
<h5>Posted x weeks ago</h5>

<hr>

<h3 style="font-weight: bold; margin-bottom: 2%">Submitted interviews</h3>

<h4 style="font-weight: bold; margin-bottom: 1%"><%= firstInterview %></h4>

<p><%= firstInterviewQuestions %></p>

<h4 style="font-weight: bold; margin-bottom: 1%"><%= secondInterview %></h4>

<p><%= secondInterviewQuestions %></p>

<h4 style="font-weight: bold; margin-bottom: 1%"><%= thirdInterview %></h4>

<p><%= thirdInterviewQuestions %></p>

<h4 style="font-weight: bold; margin-bottom: 1%"><%= fourthInterview %></h4>

<p><%= fourthInterviewQuestions %></p>

<hr>

<h3 style="font-weight: bold; margin-bottom: 2%">Culture</h3>

<p><%= cultureEntry %></p>





<%- include('partials/footer'); %>