<%- include('partials/header'); %>

<h1><%= jobPosition %></h1>

<h4><%= companyNameUrl %> | Sydney New South Wales - <%= applicationYear %></h4>
<h5>Posted x weeks ago</h5>

<hr>

<div id="application-interview">

    <h3 style="font-weight: bold; margin-bottom: 2%">Submitted interviews</h3>

    <h4 style="font-weight: bold; margin-bottom: 1%"><%= firstInterview %></h4>

    <p id="application-interview-question1"><%= firstInterviewQuestions %></p>

    <h4 style="font-weight: bold; margin-bottom: 1%"><%= secondInterview %></h4>

    <p id="application-interview-question2"><%= secondInterviewQuestions %></p>

    <h4 style="font-weight: bold; margin-bottom: 1%"><%= thirdInterview %></h4>

    <p id="application-interview-question3"><%= thirdInterviewQuestions %></p>

    <h4 style="font-weight: bold; margin-bottom: 1%"><%= fourthInterview %></h4>

    <p id="application-interview-question4"><%= fourthInterviewQuestions %></p>

</div>

<hr>

<h3 style="font-weight: bold; margin-bottom: 2%">Culture</h3>

<p><%= cultureEntry %></p>


<%- include('partials/footer'); %>

<script>
   $(document).ready(function() {
       try {
            for (var i = 0; i < 4; i++) {
                var appString = $("#application-interview-question" + i).text();
                var newString = appString.replace(/- /g, "<br />");
                $("#application-interview-question" + i).html(newString);
            };
       } 
       catch (err) {
           throw(err);
       }
    
       for (var i = 0; i < $("#application-interview").children().length; i++) {
            if($("#application-interview").children()[i].innerText.localeCompare("undefined") === 0) {
                $("#application-interview").children().eq(i).html("");
            } 
       }
   });
</script>

